html {
  background: url('@/assets/images/bg3.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.theme--light.v-application {
  background: none !important;
}

