html {
  background: url('@/assets/images/bg3.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.theme--light.v-application {
  background: none !important;
}

.v-sheet.v-card {
  border-radius: 0px !important;
  background-color: rgba(255,255,255,.75) !important;
}